/*
    
    Carrmen Yew - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure

    $M - Miscellaneous
    $0 - Media Queries

*/
@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/
body {
  background: white;
  color: #262626;
  font-family: "adagio-slab-medium", serif;
  font-size: 16.18px;
  font-weight: 300; }

p {
  color: #262626;
  line-height: 1.35em;
  margin-bottom: 0.675em; }
  p a {
    border-bottom: 1px solid black;
    color: #262626;
    padding-bottom: 2px; }
    p a:hover {
      color: black;
      text-decoration: none; }

h1, h2, h3, h4, h5 {
  color: black;
  font-family: "adagio-slab-black", serif;
  line-height: 1.25em;
  margin: 0;
  padding: 0.25em 0; }

h2 {
  font-weight: 600;
  margin: 10px 0; }

img {
  width: 100%; }

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/
#masthead {
  background: #f971c5;
  height: 100%;
  position: fixed;
  text-align: center;
  top: -20px;
  width: 100%;
  z-index: 1; }
  #masthead .logo-wrapper {
    height: 100%;
    left: 10%;
    position: absolute;
    width: 80%;
    z-index: 2; }
  #masthead .logo {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px; }
    #masthead .logo img {
      width: 100%; }
    @media screen and (max-width: 1280px) {
      #masthead .logo {
        top: 48%; } }
    @media screen and (max-width: 768px) {
      #masthead .logo {
        top: 40%; } }
    @media screen and (max-width: 550px) {
      #masthead .logo {
        top: 50%; } }

header {
  overflow: hidden;
  padding: 20px; }
  header h1 {
    font-size: 24.27px;
    float: left;
    padding: 0.025em 0; }
    header h1 a {
      color: black; }
      header h1 a:hover {
        color: #f971c5;
        text-decoration: none; }
  header .menu {
    font-family: "adagio-slab-medium", serif;
    font-size: 16.18px;
    float: right; }
    header .menu > li {
      display: inline-block; }
      header .menu > li a {
        color: black;
        padding: 0.5em 1em; }

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/
.masthead-push {
  margin-top: 1270px; }
  @media screen and (max-width: 1280px) {
    .masthead-push {
      margin-top: 670px; } }
  @media screen and (max-width: 768px) {
    .masthead-push {
      margin-top: 520px; } }

#wrapper {
  background: #fff;
  position: relative;
  z-index: 3; }

#projects {
  background: #fff;
  list-style-type: none;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 3; }

#content-wrapper {
  list-style-type: none;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  z-index: 2; }
  #content-wrapper #sidebar .desc {
    float: right;
    margin: 20px 0; }
    #content-wrapper #sidebar .desc h1 {
      color: black;
      border-bottom: 1px solid black;
      font-family: "adagio-slab-medium", serif;
      font-size: 16.18px;
      padding: 0.15em 0;
      margin: 1em 0; }
    #content-wrapper #sidebar .desc .text {
      max-width: 420px; }
    #content-wrapper #sidebar .desc .meta {
      list-style-type: none;
      margin: 1em 0 0;
      padding: 0; }
      #content-wrapper #sidebar .desc .meta li {
        display: inline-block;
        margin-right: 1em; }
  #content-wrapper #sidebar #meta-desc {
    border-top: 1px solid #e9e9e9;
    line-height: 2em;
    padding: 1em 0; }
  @media screen and (max-width: 960px) {
    #content-wrapper #sidebar {
      float: none;
      max-width: 100%;
      text-align: center; } }

.thumbnail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  background: none;
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: 100%; }
  .thumbnail .title {
    color: black;
    display: block;
    font-family: "adagio-slab-black", serif;
    font-size: 24.27px;
    font-weight: 700;
    left: 0;
    bottom: 0;
    line-height: 1.25em;
    padding: 2%;
    position: absolute;
    text-decoration: underline;
    width: 100%; }
  .thumbnail a:hover img {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    opacity: 0.75; }

#page-wrapper {
  margin: 0 auto;
  max-width: 960px; }

#projects {
  list-style-type: none;
  padding: 0; }

.nextprev a {
  color: black; }
.nextprev .next {
  float: right; }

.scrollToTop {
  border-bottom: 1px solid transparent;
  color: #262626;
  display: inline-block;
  margin: 20px 0; }
  .scrollToTop:hover {
    border-bottom: 1px solid black;
    text-decoration: none; }

/*------------------------------------------------------------------------------
 $4 - Footer
------------------------------------------------------------------------------*/
footer {
  color: #262626;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    footer span, footer .footer-right {
      display: block;
      float: none;
      text-align: center; } }
  footer a {
    color: #262626;
    margin: 0 0.25em; }

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/
#snowden {
  display: none; }
  @media screen and (max-width: 768px) {
    #snowden {
      display: block; } }

.footer-right {
  float: right; }

.clearfix {
  clear: both; }

/*------------------------------------------------------------------------------
 $0 - Media Queries
------------------------------------------------------------------------------*/
/* Retina detection for images */
